p, h1, h2, h3, h4, h5, h6, a {
    font-family: "Poppins", sans-serif;
}

.DarkMode {
    background-color: #212121;
    color: white;
}

.LightMode {
    background-color: white;
    color: black;
}

body {
    margin-top: 40vh;
    margin-bottom: 40vh;
}

p {
    margin: 0 0 0 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: underline;
}


h4{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
}


.Tutucu-Div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
}

.Deneme {
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    padding: 2px 2px 2px 2px;
    max-width: 650px;
    margin-top: 25vh;
}



.Netler {
    border: 1px dashed black;
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 5px;
}


.Kazanımlar {
    border: 1px dashed black;
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 5px;
}


.Düşüncelerim {
    border: 1px dashed black;
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 5px;
}


p {
    transition: opacity 0.5s ease;
}

/* Hover effect */
p:hover {
    opacity: 1;
}


#local-timer {
    position: fixed;
    top: 1vh;
    right: 1vw;
    font-size: medium;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    display: run-in;
    opacity: 1;
}